
<div class="container">

    <div class="formCtrl">
        <form [formGroup]="itemEditForm" (ngSubmit)="updateListItem()">
            <!-- <h2 class="frmHeading">Edit {{retreivedStudent.name}}'s Details</h2> -->
            <div class="inputBx">
                <label for="">Item Name</label><br>
                <input type="text" formControlName="item_name">
            </div>
            <div class="inputBx">
                <label for="">Category</label><br>
                <input type="text" formControlName="categoryId">
            </div>
            <div class="inputBx">
                <label for="">Price</label><br>
                <input type="number" formControlName="price">
            </div>
            <div class="inputBx">
                <label for="">Quantity</label><br>
                <input type="number" formControlName="quantity">
            </div>
            <button>Submit</button>
        </form>
    </div>

    <!-- <div class="goBack" (click)="goBack()">
        <mat-icon>arrow_left</mat-icon>
        <a>Go Back</a>
    </div> -->
</div>
